$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.sortable-handle {
  cursor: move;
}

.table {
  tr {
    &.ui-sortable-helper {
      background-color: white;
    }
  }
  td {
    vertical-align: center;
  }
}

.ribbon {
  $color: blueviolet;
  position: fixed;
  top: 0;
  right: 0;
  display: inline-block;
  height: 150px;
  line-height: 150px;
  width: 150px;
  text-align: center;
  font-size: 20px;
  color: white;
  transform: translate(20%, -20%) rotateZ(45deg);
  z-index: 200;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color;
    border: 2px solid mix(black, $color, 25%);
    height: 40px;
    width: 200%;
    z-index: -1;
  }
}


.btn-flexgroup {
  margin: 0 0 -5px -5px;
  display: flex;
  flex-wrap: wrap;

  > .btn {
    flex: 1;
    margin: 0 0 5px 5px;
  }
}

[title] {
  cursor: help;
}

.panel-heading[data-toggle="accordion"], .panel-toggle {
  cursor: pointer;
  position: relative;
  > .glyphicon {
    @extend .glyphicon-pencil;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    &:after {
      content: 'Edit';
      position: absolute;
      right: 22px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }
  &.active > .glyphicon {
    @extend .glyphicon-lock;
    &:after {
      content: 'Lock';
    }
  }
  &:hover > .glyphicon:after {
    text-decoration: underline;
  }
}

.panel > .collapse {
  /* border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: hidden; */
}

.panel .table {
  margin-bottom: 0;
}