<div class="modal" id="newImageModal">
  <div class="modal-dialog">
    <h4>Adding a new image</h4>

    <div class="newImageForm" data-bind="with: editingImage">

      <div class="inputGroup">
        <label>Name</label>
        <input type="text" data-bind="value: name">
      </div>
      <div class="inputGroup">
        <label>Width</label>
        <input type="number" data-bind="value: size.width">
      </div>
      <div class="inputGroup">
        <label>Height</label>
        <input type="number" data-bind="value: size.height">
      </div>
      
      <div class="buttonsContainer">
        <button class="button" data-dismiss="modal">Close</button>
        <button class="button" data-dismiss="modal" data-bind="click: function() { $root.addImage(JSON.parse(ko.toJSON(this, null, 2))); }">Save</button>
      </div>
    </div>

    <div class="mediaList">
      
    </div>
  </div>
  <div class="modal-bg"></div>
</div>


<!-- <div class="modal fade" id="newImageModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content" data-bind="with: editingImage">
      <div class="modal-header">
        Adding a new image
      </div>
      <div class="modal-body">
        <p>Reminder: add option to upload image and read height, width & name from it.</p>
        <p>Name:</p>
        <input type="text" data-bind="value: name">
        <p>Width:</p>
        <input type="number" data-bind="value: size.width">
        <p>Height:</p>
        <input type="number" data-bind="value: size.height">
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" data-bind="click: function() { 
          console.log(JSON.parse(ko.toJSON(this, null, 2)));
        }">Debug</button>
        <button class="btn btn-primary" data-bind="click: function() { $root.addImage(JSON.parse(ko.toJSON(this, null, 2))); }" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
 -->