<div class="panel active" data-bind="visible: !$.isEmptyObject(activeImage())">
  <div class="panel-handle">
    <span>Properties</span>
  </div>
  <div class="panel-content" data-bind="with: activeImage">
    <div class="panel-header">

      <ul class="formList">
        <li>
          <div class="inputContainer">
            <div class="inputGroup">
              <label>Name</label>
              <input type="text" data-bind="value: name">
            </div>
            <div class="inputGroup" data-bind="with: breakpoint">
              <label>Render</label>
              <input type="number" min="0" data-bind="value: displayWidth">
              <select data-bind="options: units, value: unit"></select>
            </div>
          </div>
        </li>

        <li data-bind="with: size">
          <div class="inputContainer">
            <div class="inputGroup">
              <label>Width</label>
              <input type="number" min="0" data-bind="value: width">
            </div>
            <div class="inputGroup">
              <label>Height</label>
              <input type="number" min="0" data-bind="value: height">
            </div>
          </div>
        </li>
      </ul>

    </div>

    <% include media.ejs %>
    <% include sizes.ejs %>
    
  </div>
</div>