<div class="panel panel-primary" data-bind="with: activeImage">
  <div class="panel-heading panel-toggle" data-bind="click: " data-target="#size">
    <h4 class="panel-title">Sizes</h4>
    <span class="glyphicon glyphicon-chevron-down"></span>
  </div>

  <div class="collapse" id="size">
    <div class="panel-body">
      <div class="btn-flexgroup btn-group-sm">
        <a class="btn btn-default" data-toggle="visibility" data-target="#sizeDesc" data-parent="#size">
          What is this?
        </a>
        <a class="btn btn-default" data-toggle="visibility" data-target="#sizeHow" data-parent="#size">
          How to use?
        </a>
        <a class="btn btn-success" data-bind="click: function() { $root.addSize() }">
          Add a new size&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>
    </div>
    <div class="collapse" id="sizeDesc">
      <div class="panel-body" style="padding-top: 0;">
        <div class="well well-sm">
          <p>Here you can define the different sizes of the image that is available for the browser to pick between.</p>
          <p>When deciding which size will be used for a device the browser will first look at the queries to check how large the image will be rendered and then multiply that by the devices pixel density.<br><small>Example: If the image is 33vw on a <em>iPad - standing</em> the calculation would be <em>768 * .33 * 2 = 506.88</em>; so a size with 0 loss would be 506 wide.</small></p>
        </div>
      </div>
    </div>
    <div class="collapse" id="sizeHow">
      <div class="panel-body" style="padding-top: 0;">
        <div class="well well-sm">
          <p>Either add a new size manually or use the generate button <em>(not yet implemented)</em> to add new sizes with the parameters <em>(not yet implemented)</em> which will be optimised to have as little loss as possible across the flagged devices.</p>
          <p>Note: each size's name is used in the output <em>(not yet implemented)</em> and should represent what each size are named on your server. (the size names can also be used as a suffix to the image name <em>(not yet implemented)</em>)</p>
        </div>
      </div>
    </div>
  </div>
  <table class="table" style="border-top: 1px solid #ddd;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Width</th>
        <th>Height</th>
        <th width="50px;"></th>
      </tr>
    </thead>
    <tbody data-bind="sortable: { data: sizes, connectClass: 'sort-sizes', options: { handle: '.sortable-handle' } }">
      <tr>
        <td>
          <div data-bind="visible: !$parent.isEditing($parent.sizes)">
            <p class="form-control-static" data-bind="text: name"></p>
          </div>
          <div data-bind="visible: $parent.isEditing($parent.sizes)">
            <input class="form-control" type="text" data-bind="value: name">
          </div>
        </td>
        <td>
          <div data-bind="visible: !$parent.isEditing($parent.sizes)">
            <p class="form-control-static" data-bind="text: width"></p>
          </div>
          <div data-bind="visible: $parent.isEditing($parent.sizes)">
            <input class="form-control" type="number" data-bind="value: width">
          </div>
        </td>
        <td>
          <div data-bind="visible: !$parent.isEditing($parent.sizes)">
            <p class="form-control-static" data-bind="text: height"></p>
          </div>
          <div data-bind="visible: $parent.isEditing($parent.sizes)">
            <input class="form-control" type="number" data-bind="value: height" disabled>
          </div>
        </td>
        <td style="text-align: right; vertical-align: middle;">
          <div data-bind="visible: $parent.isEditing($parent.sizes)">
            <span class="sortable-handle form-control-static">
              <span class="glyphicon glyphicon-move"></span>
            </span>
            <span class="form-control-static" data-bind="click: function() { $root.removeSize(id) }">
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot data-bind="with: size">
      <tr>
        <td>
          <p class="form-control-static" data-bind="text: name"></p>
        </td>
        <td>
          <p class="form-control-static" data-bind="text: width"></p>
        </td>
        <td>
          <p class="form-control-static" data-bind="text: height"></p>
        </td>
        <td colspan="2"></td>
      </tr>
    </tfoot>
  </table>
</div>