<!doctype html>
<html lang="">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <div class="ribbon">
      Alpha
    </div>
    <% include partials/newimagemodal.ejs %>
    <div class="loadingScreen" data-bind="visible: false"></div>
    <div class="row layout1" style="display: none;" data-bind="visible: true">
      <div class="col">
        <div class="col-inner">
          <div class="col-top">
            <div class="panel">
              <div class="panel-handle">
                <span>Preview</span>
              </div>
              <div class="panel-content">
                <div class="panel-header"></div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem a provident, quasi. Aliquam nemo perferendis culpa et animi aliquid est sint sapiente odit quaerat atque esse, natus id blanditiis accusamus!
              </div>
            </div>
            <% include partials/output.ejs %>
            <% include partials/devices.ejs %>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="col-inner">
          <div class="col-top">
            <% include partials/images.ejs %>
          </div>
        </div>
        <div class="col-inner">
          <div class="col-top">
            <div class="panel active">
              <div class="panel-handle">
                <span>Options</span>
              </div>
              <div class="panel-content">
                <div class="panel-header"></div>
              </div>
            </div>
            
          </div>
        </div>
      </div>

      <div class="col">
        <div class="col-inner">
          <div class="col-top">
            <div class="panel active" >
              <div class="panel-handle">
                <span>Properties</span>
              </div>
              <div class="panel-content">
                <div class="panel-header"></div>

                <% include partials/media.ejs %>
                <% include partials/sizes.ejs %>
                
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="panel">
          <div class="panel-tabs">
            <div class="tab">
              Properties
            </div>
          </div>
          <div class="panel-header">
          </div>
          <div class="panel-body">
            <div data-bind="visible: !$.isEmptyObject(activeImage())">
              <%# include partials/media.ejs %>
              <div class="component" data-bind="with: activeImage">
                <div class="component-header">
                  Sizes
                </div>
                <div class="component-body">
                </div>
              </div>
              <%# include partials/sizes.ejs %>
              <div class="component" data-bind="with: activeImage">
                <div class="component-header">
                  Output
                </div>
                <div class="component-body">
                </div>
              </div>
              <%# include partials/output.ejs %>
            </div>
          </div>
        </div> -->
      </div>

      
      
      

      
      
      <!-- <div class="col-md-9" >
        <h2>Image properties</h2>

        <div class="row">
          <div class="col-md-12 col-lg-5">
            <div class="row">
              <div class="col-md-12">
                
              </div>

              <div class="col-md-12">
                
              </div>
              
              <div class="col-md-12">
                
              </div>
            </div>
            
          </div>
          
          <div class="col-md-12 col-lg-7">
            
          </div>
        </div>

      </div> -->
    </div>

    <% include partials/foot.ejs %>
  </body>
</html>
