<!doctype html>
<html lang="">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <div class="ribbon">
      Alpha
    </div>
    <% include partials/newimagemodal.ejs %>
    <div class="loadingScreen" data-bind="visible: false"></div>
    <div class="row layout1" style="display: none;" data-bind="visible: true">
      <div class="col">
        <div class="col-inner">
          <div class="col-top">
            <% include partials/images.ejs %>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="col-inner">
          <div class="col-top">
            <% include partials/properties.ejs %>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="col-inner">
          <div class="col-top">
            <%# include partials/output.ejs %>
            <% include partials/devices.ejs %>
          </div>
        </div>
      </div>
    </div>

    <% include partials/foot.ejs %>
  </body>
</html>
